@import './consts.scss';
@import './mixins.scss';

.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    transition: $transition_ms;
    visibility: hidden;
    opacity: 0;
    @include vh_align();

    &_active {
        visibility: visible;
        opacity: 1;
    }
}